@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

