.sidebar{
    position: fixed;
    overflow-x: hidden !important;
    left: 5rem;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    
}
.sidebar-content{
    flex: 0.3;
    overflow-y: scroll;
    transition: 0.3s;
    animation: slide 0.3s forwards;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: -3rem;
    z-index: 1000;
    padding: 3rem;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.sidebar-content::-webkit-scrollbar{
    width: 0 !important
}
.sidebar-blur{
    flex: 0.7;
    opacity: 0.33;
    background-color: black;
    transition: 0.5s ;
    animation: easeIn 0.5s;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
}

@keyframes easeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.33;
    }
}

.sidebar-form{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.form-heading h2{
    padding-bottom: 2rem;
}


.form-item{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.form-item label{
    padding-bottom: 0.5rem;
}
.form-item input{
    width: 100%;
    border: 1px solid ;
    padding: 0.5rem;
    border-radius: 5px;
}
 input:focus{
    outline: 1px solid #DFE3FA;
}

.form-item-flex{
    display: flex;
    justify-content: space-between;
}
.form-item-flex div{
    margin-right: 1rem;
}

select{
    padding: 0.5rem;
    border: 1px solid;
    width: 100%;
    border-radius:5px;
}
.option-span{
    padding: 1rem;
}

select:focus,option:focus{
    outline: 1px solid #DFE3FA;
}
.form-item-flex-table{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}
.form-item-flex-table input{
    font-size: 0.7rem;
}

.input-item-name {
    flex: 0.5;
}
.input-item-name input{
    width: 85%;
}

.input-quantity {
    flex: 0.1;
}

.input-quantity input{
    width: 40%;
}

.input-price{
   flex: 0.2;
}

.input-price input{
    width: 60%;
}

.input-total{
    flex: 0.1;
}
.input-total input{
    border: none;
    padding-left: 0;
    font-weight: bolder;
}
.input-icon{
    flex: 0.1;
    padding-left: 1rem;
}
.input-icon img{
    width: 15px;
    height: 15px;
    padding: 10px;
    cursor: pointer;
}
.form-item-button{
    border: none;
    padding: 0.7rem;
    border-radius: 20px;
    cursor: pointer;
}
.new-button{
    color: #7E88C3;
    background-color: #DFE3FA
}
.button-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.button-flex-item button:last-child{
    margin-left: 1rem;
}
.button-black{
    background-color: #0C0E16;
    color: #888EB0;
}
.button-blue{
    background-color: #9277FF;
    color: #FFFFFF;
}
.container-back-display-none{
    display: none;
}

::placeholder{
    color: inherit;
}
.form-input p{
padding-top: 0.3rem;
}

@media screen and (max-width:820px) {
    .sidebar{
        left: 0;
    }
    .sidebar-content{
        flex: 0.7;
    }
    .sidebar-blur{
        flex: 0.3;
    }
}

@media screen and (max-width:768px){
    .sidebar-content{
        flex: 1;
    }
    .sidebar-blur{
        flex: 0;
    }
    .container-back-display-none{
        display:contents;
    }
}