.single-invoice-container{
    margin-left: 15%;
    margin-right: 15%;
    overflow-x:hidden;
}
.single-invoice-container-back{
    margin-top: 5rem;
    cursor: pointer;
}
.single-invoice-container-tray{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.single-invoice-container-tray-status{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-invoice-container-tray-status p{
    margin-right: 1rem;
}
.single-invoice-container-tray-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-invoice-container-tray-buttons button{
    cursor: pointer;
}
.single-invoice-container-button{
    padding: 1rem;
    border-radius: 25px;
    color: white;
    border: none;
}
.edit{
    background-color: #DFE3FA;
    color: #7E88C3;
}
.delete{
    background-color: #FF9797;
    color: #FFFFFF;
    margin-left: 1rem;
}
.mark-as-paid{
    background-color: #9277FF;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}
.do-not-show{
    display: none;
}
.single-invoice-container-body{
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.single-invoice-container-body-id-tray{
    display: flex;
    justify-content: space-between;
}
.single-invoice-container-body-id-tray h2{
    padding-bottom:1rem;
}


.single-invoice-container-body-lower-tray{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    text-align: left;

}
.single-invoice-container-body-lower-tray h2{
    padding-top:1rem;
    padding-bottom: 1rem;
}

table{
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

th{
    padding-bottom: 2rem;
}

td{
    padding-bottom: 2rem;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.single-invoice-display-all-responsive{
    display: none;
}
.single-invoice-display-none-responsive{
    display: contents;
}
.tray-responsive{
    display: none;
}
@media screen and (max-width: 768px) {
    .single-invoice-container-body-id-tray{
        flex-direction: column;
        text-align: left;
    }
    .single-invoice-container-body-lower-tray{
        flex-wrap: wrap;
    }
    .single-invoice-display-none-responsive{
        display: none;
    }
    .single-invoice-display-all-responsive{
        display: contents;
        color: #7E88C3;
    }
    .buttons-display-none{
        display: none;
    }
    .single-invoice-container-tray-status{
        flex:1;
        justify-content: space-between;
    }
    .single-invoice-container button{
        margin-top: 0;
    }
    
    .tray-responsive{
        display: contents;
    }
    .tray-status-responsive{
        display: none;
    }
    .tray-buttons-show{
        flex: 1;
    }
    
}